.menu-horizontal {
    /*MAIOR ESCOPO DO MENU*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /*PARA EVITAR A SOBREPOSICAO*/
    /*background-color: #00000087;*/
    background-image: linear-gradient(to top, #848484, #929292, #b2b2b2);
    text-align: center;
    /*DIRECIONA OS ITENS PARA O CENTRO*/
}

.menu-horizontal .logo-list { /*LOGO PERSONALIZADA*/
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    background: linear-gradient(to right, #8B6914, #FFD700,#ffd700, #cddaff); /*degrade da logo*/
    border: 5px double #000000;
    width: 300px;
    height: auto;

    transition: background-color 0.5s ease;
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin: 10px;
}

.menu-horizontal .logo-list:hover {
    background: linear-gradient(to right, #ff9933, #FFD700);
    cursor: pointer;
}

.menu-horizontal ul {
    /*bloco das listas*/
    list-style-type: none;
    margin: 0;
    padding: 0px 300px 0px 0px;
    text-align: center;
    overflow: hidden;
}



.menu-horizontal li {
    /*opções individuais da lista*/
    
    display: inline-block;
    /*float: left;*/
}


.menu-horizontal li a {
    /*conteudo dentro da lsita ...texto*/
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffd237;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight:549; /*"GROSSURA DA letra"*/
}

.menu-horizontal li img {
    width: 50%;
    height: 50%;

    vertical-align: middle;
}

.content {
    margin-top: 70px;
    /* Espaço para o menu */
    padding: 20px;
    overflow: hidden;
    /*background-image: url();*/
    /*pode ser uma borda para as fotos*/
}

.content img {
    width: 100%;
    max-height: 1000px;
}